@model WebApplication0106.Models.JobOrder

<div class="well">
    <h3>
        <strong>@Model.Workorderno</strong>
        <span class="pull-right label label-primary">@Model.Item_Name.ToString()</span>
        <span class="pull-right label label-primary">@Model.Wc_Name.ToString()</span>
    </h3>
    @using (Html.BeginForm("상세보기", "Cart"))

    {
        <div>
            @Html.Hidden("Workorderno", Model.Workorderno)
            <input type="submit" style="background-color:rebeccapurple" value="@Model.Wo_Status" class="btn btn-success pull-right" />
        </div>

    }
    <span class="lead">@Model.Plan_Date 까지</span>
</div>
