@model WebApplication0106.Models.JobOrder

<div class="well" style="background-color:dimgray">
    <h3>
        <strong style="color:white">@Model.Workorderno</strong>
        <span class="pull-right label" style="background-color:rebeccapurple">@Model.Wo_Status</span>
        <span class="pull-right label" style="background-color:rebeccapurple">@Model.Item_Name.ToString()</span>
        <span class="pull-right label" style="background-color:rebeccapurple">@Model.Wc_Name.ToString()</span>
    </h3>
    <span class="lead" style="color:whitesmoke;font-size:16px">@Model.Plan_Date 까지</span>
</div>
