
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>메인화면</h2>

<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">불량률</span>
                    <span class="info-box-number">90<small>%</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">금일 생산현황</span>
                    <span class="info-box-number">@ViewBag.WoReqCountToday</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">누적 생산현황</span>
                    <span class="info-box-number">@ViewBag.WoReqCount</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">평균근무 시간</span>
                    <span class="info-box-number">8.3</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">월별 생산 현황</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">기간 설정</a></li>
                                <!--<li class="divider"></li>-->
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="text-center">
                                <strong>판매현황: @DateTime.Today.Year 년 @DateTime.Today.Month 월 1 일 - @DateTime.Today.Year 년 @DateTime.Today.Month 월 30 일</strong>
                            </p>

                            <div class="chart">
                                <!-- Sales Chart Canvas -->
                                <canvas id="salesChart" style="height: 180px;"></canvas>
                            </div>
                            <!-- /.chart-responsive -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>완료 현황 (%)</strong>
                            </p>

                            <div class="progress-group">
                                <span class="progress-text">제선</span>
                                <span class="progress-number"><b>160</b>/200</span>

                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">제강</span>
                                <span class="progress-number"><b>310</b>/400</span>

                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">압연</span>
                                <span class="progress-number"><b>480</b>/800</span>

                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">포장</span>
                                <span class="progress-number"><b>200</b>/500</span>

                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                                </div>
                            </div>
                            <div class="progress-group">
                                <span class="progress-text">적재</span>
                                <span class="progress-number"><b>250</b>/500</span>

                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-light-blue" style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
            <!-- MAP & BOX PANE -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">직책별 분포도</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-md-9 col-sm-8">
                            <div class="pad">
                                <canvas id="pieChart" style="height:350px; width:449px"></canvas>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3 col-sm-4">
                            <div class="pad box-pane-right bg-green" style="min-height: 280px">
                                <div class="description-block margin-bottom">
                                    <span class="description-text">@DateTime.Today.Year 년 기준</span>
                                </div>
                                @foreach (var item in ViewBag.memcnt.Members)
                                {
                                    <div class="description-block margin-bottom">
                                        <div class="sparkbar pad" data-color="#fff">@item.UserGroup_Name</div>
                                        <h4 class="description-header">@item.UserCnt 명</h4>
                                        <span class="description-text">______</span>
                                    </div>
                                    <!-- /.description-block -->
                                }
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>

            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">최근 생산의뢰</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="height : 533px">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>생산의뢰번호</th>
                                    <th>상품명</th>
                                    <th>현재상태</th>
                                    <th>생산의뢰량</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.WoReqList.WoReqs)
                                {
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">@item.Wo_Req_No</a></td>
                                        <td>@item.Item_Name</td>
                                        <td><span class="label label-success">@item.Req_Status</span></td>
                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">@item.Req_Qty</div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="/Product/List" class="btn btn-sm btn-default btn-flat pull-right">전체 보기</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
            <!-- Info Boxes Style 2 -->
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">제강</span>
                    <span class="info-box-number">작업완료 : @ViewBag.FinishWOJK</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        누적 작업완료 : @ViewBag.FinishmonthWOJK
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">제선</span>
                    <span class="info-box-number">작업완료 : @ViewBag.FinishWOJS</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        누적 작업완료 : @ViewBag.FinishmonthWOJS
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">압연</span>
                    <span class="info-box-number">작업완료 : @ViewBag.FinishWOAY</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        누적 작업완료 : @ViewBag.FinishmonthWOAY
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">적재</span>
                    <span class="info-box-number">작업완료 : @ViewBag.FinishWOJJ</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        누적 작업완료 : @ViewBag.FinishmonthWOJJ
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-light-blue">
                <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">포장</span>
                    <span class="info-box-number">작업완료 : @ViewBag.FinishWOPJ</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        누적 작업완료 : @ViewBag.FinishmonthWOPJ
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">작업장 사용량</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>


                @{
                    //작업장 전체수 데이터
                    int totalWCJS = ViewBag.TotalWCJS;
                    int totalWCJK = ViewBag.TotalWCJK;
                    int totalWCAY = ViewBag.TotalWCAY;
                    int totalWCJJ = ViewBag.TotalWCJJ;
                    int totalWCPJ = ViewBag.TotalWCPJ;

                    //작업장 비가동수 데이터
                    double stoppingWCJS = ViewBag.StoppingWCJS;
                    double stoppingWCJK = ViewBag.StoppingWCJK;
                    double stoppingWCAY = ViewBag.StoppingWCAY;
                    double stoppingWCJJ = ViewBag.StoppingWCJJ;
                    double stoppingWCPJ = ViewBag.StoppingWCPJ;
                    double dataWCJS = (totalWCJS-stoppingWCJS) / totalWCJS *100;
                    double dataWCJK = (totalWCJK-stoppingWCJK) / totalWCJK *100;
                    double dataWCAY = (totalWCAY-stoppingWCAY) / totalWCAY *100;
                    double dataWCJJ = (totalWCJJ-stoppingWCJJ) / totalWCJJ *100;
                    double dataWCPJ = (totalWCPJ-stoppingWCPJ) / totalWCPJ *100;
                    string WCJS = "<div class='progress progress-sm vertical active' style='margin-bottom:0px; margin-right:5px;'> <div class='progress-bar progress-bar-red progress-bar-striped' role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='height:"+dataWCJS+"% '> </div></div>";
                    string WCJK = "<div class='progress progress-sm vertical active' style='margin-bottom:0px; margin-right:5px;'> <div class='progress-bar progress-bar-success progress-bar-striped' role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='height:"+dataWCJK+"% '> </div></div>";
                    string WCAY = "<div class='progress progress-sm vertical active' style='margin-bottom:0px; margin-right:5px;'> <div class='progress-bar progress-bar-warning progress-bar-striped' role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='height:"+dataWCAY+"% '> </div></div>";
                    string WCJJ = "<div class='progress progress-sm vertical active' style='margin-bottom:0px; margin-right:5px;'> <div class='progress-bar progress-bar-aqua progress-bar-striped' role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='height:"+dataWCJJ+"% '> </div></div>";
                    string WCPJ = "<div class='progress progress-sm vertical active' style='margin-bottom:0px; margin-right:5px;'> <div class='progress-bar progress-bar-light-blue progress-bar-striped' role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='height:"+dataWCPJ+"% '> </div></div>";
                }
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row" style="margin-left:0px; margin-right:0px">
                        <div class="col-md-4" style="width:175px">
                            @(new HtmlString(WCJS))
                            @(new HtmlString(WCJK))
                            @(new HtmlString(WCAY))
                            @(new HtmlString(WCJJ))
                            @(new HtmlString(WCPJ))
                            
                        </div>
                        <div class="col-md-4 pull-right">
                            <ul class="chart-legend clearfix">
                                <li><i class="fa fa-circle-o text-red"></i> 제강</li>
                            </ul>
                            <ul class="chart-legend clearfix">
                                <li><i class="fa fa-circle-o text-green"></i> 제선</li>
                            </ul>
                            <ul class="chart-legend clearfix">
                                <li><i class="fa fa-circle-o text-yellow"></i> 압연</li>
                            </ul>
                            <ul class="chart-legend clearfix">
                                <li><i class="fa fa-circle-o text-aqua"></i> 적재</li>
                            </ul>
                            <ul class="chart-legend clearfix">
                                <li><i class="fa fa-circle-o text-light-blue"></i> 포장</li>
                            </ul>
                        </div>
                        <!-- /.row -->
                    </div>


                    <!-- /.footer -->
                </div>
            </div>
            <!-- /.box -->
            <!-- PRODUCT LIST -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">최근 추가된 작업지시</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->


                <div class="box-body" style="padding-top:0px;padding-bottom:0px">
                    <ul class="products-list product-list-in-box">

                        @foreach (var item in ViewBag.TopFive.JobOrders)
                        {
                            <li class="item" style="padding-top:10px; padding-bottom:5px;text-align:center">
                                <div>
                                    <span class="label label-info pull-left "> @item.Item_Name </span>
                                    <a class="product-title" style="padding-left:5px; font-size:13px;">
                                        @item.Workorderno
                                    </a>

                                    @if (item.Wo_Status == "작업종료")
                                    {
                                        <span class="label label-success pull-right">@item.Wo_Status</span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning pull-right">@item.Wo_Status</span>
                                    }

                                </div>
                            </li>
                            <!-- /.item -->
                        }

                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="JobOrder/List" class="uppercase">View All Products</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


@{
    //직책별 파이데이터
    string gn1 = ViewBag.gn1;
    int gn1cnt = ViewBag.gn1cnt;

    string gn2 = ViewBag.gn2;
    int gn2cnt = ViewBag.gn2cnt;

    string gn3 = ViewBag.gn3;
    int gn3cnt = ViewBag.gn3cnt;

}


@section Scripts {
    <script>
        $(document).ready(function () {


            //-------------
            //- PIE CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieChart = new Chart(pieChartCanvas)
            var PieData = [
                {
                    value: @gn1cnt,
                    color: '#f56954',
                    highlight: '#f56954',
                    label: "@gn1"
                },
                {
                    value: @gn2cnt,
                    color: '#00a65a',
                    highlight: '#00a65a',
                    label: "@gn2"
                },
                {
                    value: @gn3cnt,
                    color: '#f39c12',
                    highlight: '#f39c12',
                    label: "@gn3"
                }
            ]
            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: '#fff',
                //Number - The width of each segment stroke
                segmentStrokeWidth: 2,
                //Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - Animation easing effect
                animationEasing: 'easeOutBounce',
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            pieChart.Doughnut(PieData, pieOptions)

        })
    </script>
}
