@model IEnumerable<WebApplication0106.Models.JobOrder>
@{
    ViewBag.Title = "상세보기";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:black">@ViewBag.Title</h2>
<section class="content">
    <div class="row">
        <table class="table" style="background-color:gainsboro">
            <tr>
                <th style="text-align:center">
                    작업지시번호
                </th>
                <th style="text-align:center">
                    작업장명
                </th>
                <th style="text-align:center">
                    제품명
                </th>
                <th style="text-align:center">
                    계획 수량
                </th>
                <th style="text-align:center">
                    계획 날짜
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Workorderno)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Wc_Name)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Item_Name)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Plan_Qty)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Plan_Date)
                    </td>
                </tr>
            }

        </table>
    </div>
</section>

